:root {
    --rosa-bebe: #d497b2;
    --laranja: #ff6419;
    --fundo-bege: #fff5fa;
    --texto-preto: #1b1515;
    --link-rosa: #e12562;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--fundo-bege);
    color: var(--texto-preto)
}

h1, h2, h3 {
    font-family: arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--link-rosa);
}

a:hover{
    color: var(--laranja);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background: var(--fundo-bege);
}

